{
  "swagger": "2.0",
  "info": {
    "title": "Default title",
    "description": "Batch update methods",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/v1.0/$batch": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "Batch",
        "description": "Execute batch command with delegate permissions",
        "operationId": "Batch",
        "x-ms-visibility": "important",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v1.0/me/planner/tasks/{TaskID}/details": {},
    "/v1.0/planner/tasks": {
      "post": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "@odata.etag": {
                  "type": "string",
                  "description": "@odata.etag"
                },
                "planId": {
                  "type": "string",
                  "description": "planId"
                },
                "bucketId": {
                  "type": "string",
                  "description": "bucketId"
                },
                "title": {
                  "type": "string",
                  "description": "title"
                },
                "orderHint": {
                  "type": "string",
                  "description": "orderHint"
                },
                "assigneePriority": {
                  "type": "string",
                  "description": "assigneePriority"
                },
                "percentComplete": {
                  "type": "integer",
                  "format": "int32",
                  "description": "percentComplete"
                },
                "startDateTime": {
                  "type": "string",
                  "description": "startDateTime"
                },
                "createdDateTime": {
                  "type": "string",
                  "description": "createdDateTime"
                },
                "dueDateTime": {
                  "type": "string",
                  "description": "dueDateTime"
                },
                "hasDescription": {
                  "type": "boolean",
                  "description": "hasDescription"
                },
                "previewType": {
                  "type": "string",
                  "description": "previewType"
                },
                "completedDateTime": {
                  "type": "string",
                  "description": "completedDateTime"
                },
                "completedBy": {
                  "type": "string",
                  "description": "completedBy"
                },
                "referenceCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "referenceCount"
                },
                "checklistItemCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "checklistItemCount"
                },
                "activeChecklistItemCount": {
                  "type": "integer",
                  "format": "int32",
                  "description": "activeChecklistItemCount"
                },
                "conversationThreadId": {
                  "type": "string",
                  "description": "conversationThreadId"
                },
                "id": {
                  "type": "string",
                  "description": "id"
                },
                "createdBy": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "type": "object",
                      "properties": {
                        "displayName": {
                          "type": "string",
                          "description": "displayName"
                        },
                        "id": {
                          "type": "string",
                          "description": "id"
                        }
                      },
                      "description": "user"
                    }
                  },
                  "description": "createdBy"
                },
                "appliedCategories": {
                  "type": "object",
                  "properties": {
                    "category1": {
                      "type": "boolean",
                      "description": "category1"
                    },
                    "category3": {
                      "type": "boolean",
                      "description": "category3"
                    },
                    "category4": {
                      "type": "boolean",
                      "description": "category4"
                    },
                    "category5": {
                      "type": "boolean",
                      "description": "category5"
                    }
                  },
                  "description": "appliedCategories"
                },
                "assignments": {
                  "type": "object",
                  "properties": {},
                  "description": "assignments"
                }
              }
            }
          }
        },
        "summary": "Create Planner Task",
        "description": "Create Planner Task",
        "operationId": "CreatePlannerTask",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {}
            }
          }
        ]
      }
    },
    "/v1.0/planner/tasks/{TaskId}": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "GetTaskDetails",
        "description": "Get Task Details - Planner",
        "operationId": "GetTaskDetails-Planner",
        "parameters": [
          {
            "name": "TaskId",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "undefined": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "undefined": []
    }
  ],
  "tags": []
}